# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Client (React.js) specific files
client/*.log
client/logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*
client/node_modules
client/dist
client/dist-ssr
client/*.local
client/# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# Server (Node.js) specific files
/server/node_modules/
/server/.env
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local

# Logs
logs/
*.log
/server/logs/
client/logs/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Misc
# .env.local
# .env.*.local
